{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}

<div class="container mt-5">
    <h2>Вход</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <button type="submit" formmethod="post" class="btn btn-primary">Войти</button>
        <a class="p-2 btn btn-outline-primary" href="/password_reset/">Забыли пароль?</a>
    </form>
</div>

<!--{% if user.is_authenticated %}-->
<!--{% endif %}-->
{% endblock %}