{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="container col-10">

        <div class="card mb-2">
            <div class="d-flex align-items-center">
                <div class="card-header"><p class="mb-0"><strong>Тема рассылки:</strong></p></div>
                <p class="card-body mb-0 ms-2">{{ mailing.mail }}</p>
            </div>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <div class="col-6">
                <div class="card">
                    <div class="d-flex align-items-center">
                        <div class="rounded-start bg-light p-2 text-center"><strong>Дата создания:</strong></div>
                        <p class="card-body mb-0 ms-2">{{ mailing.startDt | date:'d M Y  H:i' }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="d-flex align-items-center">
                        <div class="card-header"><p class="mb-0"><strong>Дата завершения:</strong></p></div>
                        <p class="card-body mb-0 ms-2">{{ mailing.endDt | date:'d M Y H:i' }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="d-flex align-items-center">
                <div class="card-header"><p class="mb-0"><strong>Статус:</strong></p></div>
                <p class="card-body mb-0 ms-2">{{ mailing.my_field }}</p>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header"><p class="mb-0"><strong>Сообщение:</strong></p></div>
            <div class="card-body">
                <p class="card-text">{{ mailing.mail.body_mail }}</p>
            </div>
        </div>

        <div class="card mb-2">
            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            <strong>История отправлений</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Дата попытки</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Ответ сервера</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                {% for tryrecipient in tryrecipients %}
                                <tr>
                                    <td>{{ tryrecipient.time_try | date:'d M Y H:i' }}</td>
                                    <td>{{ tryrecipient.status }}</td>
                                    <td>{{ tryrecipient.mail_response }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3">Нет отправлений.</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                            <strong>Получатели</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Почта</th>
                                    <th scope="col">Ф.И.О</th>
                                    <th scope="col">Комментарий</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                {% for recipient in recipients %}
                                <tr>
                                    <td>{{ recipient.email }}</td>
                                    <td>{{ recipient.full_name }}</td>
                                    <td>{{ recipient.comment }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3">Нет получателей.</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}