<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <div class="container mt-5">
        <h2 class="text-center">Статистика</h2>
        <!--    Статистика: Рассылки, Запущенные рассылки, Получатели    -->
        <div class="row p-3">

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Количество всех рассылок
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Рассылки:</h5>
                        {% if user.is_authenticated %}
                        <p class="card-text">{{ mailing_all }}</p>
                        {% else %}
                        <p class="card-text">0</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Количество запущенных рассылок
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Запущенные рассылки:</h5>
                        {% if not user.is_authenticated %}
                        <p class="card-text">0</p>
                        {% else %}
                        <p class="card-text">{{ status_started }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Количество уникальных получателей
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Получатели:</h5>
                        {% if not user.is_authenticated %}
                        <p class="card-text">0</p>
                        {% else %}
                        <p class="card-text">{{ recipient_all }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

        <!--    Статистика: Успешные попытки, Неуспешные попытки, Количество отправленных сообщений    -->
        <div class="row p-3">

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Количество успешных попыток рассылок
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Успешные отправки:</h5>
                        {% if not user.is_authenticated %}
                        <p class="card-text">0</p>
                        {% else %}
                        <p class="card-text">{{ status_ok }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Количество неуспешных попыток рассылки
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Неуспешные отправки:</h5>
                        {% if not user.is_authenticated %}
                        <p class="card-text">0</p>
                        {% else %}
                        <p class="card-text">{{ status_error }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Количество отправленных сообщений
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Отправленные сообщения:</h5>
                        {% if not user.is_authenticated %}
                        <p class="card-text">0</p>
                        {% else %}
                        <p class="card-text">{{ sum_recipient }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>